@using JSInterpDemo.Models;
@inject NavigationManager NavigationManager

<div class="box" @onclick="OpenDocument">
    @Model.Title
</div>

<style>
    .box {
        width: 200px;
        height: 100px;
        border: 2px solid dodgerblue;
        transition: background-color linear 0.08s;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box:hover{
        background-color: dodgerblue;
        color: white;
        cursor: pointer;
    }
</style>

@code {
    [Parameter] public Document Model { get; set; }

    public void OpenDocument()
    {
        NavigationManager.NavigateTo($"editdocument/{Model.Id}");
    }
}
