@page "/editdocument/{Id:int}"
@using JSInterpDemo.JavascriptComponents.Quill;
@using JSInterpDemo.Models;

@if (Model == null)
{
    <h3>There was a glitch</h3>
    return;
}

<div class="title-wrapper">
    <input @bind="Model.Title" />
</div>
<div>
@*    <textarea @bind="Model.PageContent"></textarea>*@
        <QuillRichText
            Theme="QuillThemeType.Snow"
            IsReadOnly="false"
            PlaceHolder="Type text"
            OldContent="@Model.PageContent"
            OnTextChanged="(value => Model.PageContent = value)">
        </QuillRichText>
</div>

<style>
    .title-wrapper {
        margin-bottom: 20px;
    }
</style>

@code {
    [Parameter] public Document Model { get; set; }
    [Parameter] public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Model ??= DatabaseContext.Documents.FirstOrDefault(a => a.Id == Id);
    }

    public async Task SetPageContent(string newContent)
    {
        Model.PageContent = newContent;
    }
}
